<!DOCTYPE html>
<html>
<head>
  <title>Fall snow</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "fall_snow/application", media: "all" %>
  <%= javascript_include_tag "fall_snow/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
